{% extends "base.html.twig" %}
{% block title %}
	Ajout d'ingrédients
{% endblock %}
{% block body %}
	<div class="container">
		<div class="col-12">
			{{form_start(form)}}
                {{form_row(form.name)}}
                {{form_row(form.price)}}
                <button type="submit" class="btn btn-primary mt-3">Ajouter</button>
			{{form_end(form)}}
		</div>
	</div>

{% endblock %}
